@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.color{
  color:#051622#1ba098#deb992;
  color: #0b0c10 #1f2833 #c5c6c7 #66fcf1 #45a29e
} 

#root {
  /* width: 1580px; */
  width: 70vw;
  margin: 0 auto;
  /* text-align: center; */
  /* background-color: pink; */
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}

.Navbar{
  min-width: max-content !important ;
  margin: 0 auto;
}

.container{
  display: flex;
  align-items: end !important;
}
.me-auto{
  min-width:max-content !important;
  /* width: 100vw; */
  gap: 30px;
  margin: 0 auto;
}
.navbar-brand {
  color: #c5c6c7;
  font-size: xx-large;
  padding-top: 0px;
  font-family: cursive;
  
}
.navbar-brand{
  /* color: #c5c6c7; */
  
}
.nav-link{
  color: #45a29e !important;
  font-family: "Caveat", cursive;
  font-weight: 900;
}


/* main component */
.main{
/* background-color: red; */
 /* max-width:1500px; */
 margin-top: 30px;
 text-align: left;
 color: #cfe2ff;
}
.main-div{
  /* width: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.main-div-{
  width: 100%;
  margin-left: 20%;
  display: block;
  /* justify-content: center; */
}
.flex-item{
  /* margin: 0 auto; */
}
.flex-item-{
  position: absolute;
  top: 500px;
}



.home, .main-data{
  color:#cfe2ff;
}
.abc{
  height: 400px;
  width: 300px;
  background-color: red;
}
.home{
  /* width: 50vw; */
  /* margin: 0 auto; */
  /* background-color: #fff; */
}
.Thisday{
  width: 900px;
  position: relative;
  /* display: flex; */
  gap: 20px;
}
.sunmoon{
  width: 60%;
  height: max-content;
  border: 1px solid #454849;
  border-radius: 12px;
  padding: 10px;
  background-color: #232D3F;
}
.today-{
  border-bottom: 1px solid #454849;
}
.sunrise{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #454849;
}
.moonset{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.moon{
  display: flex;
  gap: 20px;
}
.moon div{
  margin-top: 4px;
}
.sun{
  /* display: flex; */
}
.riseSet{
  display: flex;
  gap: 30px;
}
.p1{
  margin-bottom: 8px;
}
.p2{
  margin-bottom: 5px;
}

/* Hourly-Weather-->today */
.Hourly-weather{
  height: 780px;
  position: absolute;
  width: max-content;
  right: 0;
  top: 0;
  border: 1px solid #454849;
  border-radius: 12px;
  padding: 10px;
  background-color: #232D3F;
  overflow-y: scroll;
}
.hourly{
  display: flex;
  align-items: center;
  gap: 15px;
}
.humidity{
  display: flex;
  /* gap: 3px; */
  align-items: center;
}
.time, .icon, .temp{
  /* border-right: 2px solid #454849; */
}

/* Temperature comp */
.box{
  width: 60%;
  min-width: 300px;
  margin-top: 30px; 
  border: 1px solid #454849;
  border-radius: 12px;
  padding: 10px 10px 0px 10px;
  background-color: #232D3F;
}
.temp1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.temp1-1{
  display: flex;
}
.temp2{
  border-bottom: 1px solid #454849;
}
.celcius, .farenheit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #454849;
  padding: 5px 10px 0px 10px;
}
.p3{
  color:#c5c6c7ab;
  margin-bottom: 5px;
}
.temp3_{
  
  border-top: 1px solid #454849;
}
.temp3-{
  display: flex;
  gap: 50px;
}

/* Condition comp */
.condition{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hourly page */
.hourly-{
  width: 65vw;
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* width: 400px;  */
  border: 1px solid #454849;
  border-radius: 12px;
  padding: 10px;
  background-color: #232D3F;
}
.hour{
  color: #c5c6c7;
  border-bottom: 1px solid #454849;
}
.accordian-{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}
.accordion-item {
  background-color: #cfe2ff;
}
.accordion-button {
  width: 100%;
  display: block;
  background-color: #cfe2ff;
  color: #022c65;
  padding-bottom: 0px;
}
.accordion-button:focus{
  box-shadow: none;
}
.time-icon-temp{
  display: flex;
  align-items: center;
  gap: 10px;
}
.time-h{
  width: 20%;
  margin-right: 10px;
}
.acc1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #454849;
  margin-bottom: 16px;
}
.condn-h-{
  width: 48%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.condn-h{
  width: 48%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #454849;
}
.temp-h, .humidity-h, .icon-h{
  width: 20%;
}
.icon-h{
  /* height: 40px; */
  /* width: 40px; */
}
.humidity-h{
  display: flex;
  align-items: center;
  justify-content: end;
  /* align-items: end; */
}
.acc2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #454849 */
}
.acc2-{
  padding-top: 10px;
}
.acc3{
  display: flex;
  justify-content: space-between;
}
.con{
  height: 100%;
  color: #022c65
}

/* hourly detail */
.hourlyDetail{
  width: 100%;
  color: #c5c6c7;
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* border-radius: 20px; */
  /* border: 1px solid #454849; */
}
.hd{
  border-bottom: 1px solid #454849;
  padding: 10px;
}
.hd-{
  display: flex;
  justify-content: space-between;
  background-color: #454849;
  padding: 10px 5px 10px 5px;
  margin-bottom: 2px;
  border-radius: 12px;
  color: #cfe2ff;
}
.hd- p{
  margin-bottom: 0px;
} 

/* daily */
.Daily{
  width: 70vw;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #454849;
  margin-bottom: 10px;
}
.date-time-daily{
  display: flex;
  justify-content: space-between;
}


/* air-quality */
.air-{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #454849
}
.air{
  display: flex;
  gap: 10px;
  align-items: center;
}
.air p{
  margin-top: 10px;
}
.air-p{
  display: flex;
  justify-content:space-around;
  align-items: center;
  border-bottom: 1px solid #454849
}
.air- p{
  width: 60%;
}
b{
  text-decoration: underline;
}
.show-more-less-clickable {
  /* font-weight: bold;       */
  color:#1ba098;          
  cursor: pointer;          
}

.show-more-less-clickable:hover {
  color: #0056b3;          
}


@media screen and (max-width: 770px) and (min-width: 570px){
  .Navbar{
    min-width: 700px !important;
    padding-left: 0px !important;
  }
}

.Hourly-weather::-webkit-scrollbar{
  width: 5px;
  position: static;
}

.Hourly-weather::-webkit-scrollbar-track{
  background: inherit;
  border-radius: 10px;
}
.Hourly-weather::-webkit-scrollbar-thumb{
  background:#454849;
  border-radius: 20px;
}


.hourlyWeather-Daily::-webkit-scrollbar{
  width: 5px;
  position: static;
}
.hourlyWeather-Daily::-webkit-scrollbar-track{
  background: inherit;
  border-radius: 10px;
}
.hourlyWeather-Daily::-webkit-scrollbar-thumb{
  background:#454849;
  border-radius: 20px;
}